@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.adm-wrapper {
	background: #012;
	position:   absolute;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
}

.adm-header {
	position:    static;
	font-size:   0;
	background:  #234;
	background:  linear-gradient(0deg, #234, #345);
	height:      64px;
	white-space: nowrap;
}

.adm-header-sm {
	height: 48px;
}

.adm-header-sm .adm-header-sm-hide {
	display: none;
}

.adm-header-logo {
	display:        inline-block;
	width:          64px;
	height:         64px;
	background:     #456;
	background:     linear-gradient(0deg, #456, #567);
	text-align:     center;
	font-size:      32px;
	transition:     font-size 0.25s;
	border:         none;
	margin:         0;
	padding:        0;
	color:          #123;
	vertical-align: middle;
}

.adm-header-sm .adm-header-logo {
	height: 48px;
}

.adm-header-sm .adm-header-logo > .glyphicon {
	line-height: 48px;
}

.adm-header-logo > .glyphicon {
	line-height: 64px;
}
.adm-header-logo:hover {
	font-size: 40px;
}

.adm-header-sm .adm-header-logo:hover {
	font-size: 36px;
}

.adm-header-title {
	display:        inline-block;
	line-height:    64px;
	font-size:      24px;
	font-family:    'Dancing Script', cursive;
	color:          #9AB;
	padding:        0 24px 0 16px;
	margin:         0 24px 0 0;
	vertical-align: middle;
	text-shadow:    1px 1px 7px rgba(0, 0, 0, 0.35);
	background:     #123;
	border-radius:  0 32px 32px 0;
	border-right:   1px solid #012;
}

.adm-header-sm .adm-header-title {
	line-height: 48px;
	font-size:   20px;
	padding:     0 20px 0 12px;
}

.adm-header-title-part {
	color: #CED;
}

.adm-left-nav {
	position:   absolute;
	overflow:   hidden;
	top:        64px;
	bottom:     0;
	background: #123;
	z-index:    10;
}

.adm-header-sm ~ .adm-main > .adm-left-nav {
	top: 48px;
}

.adm-content {
	position:   absolute;
	overflow:   hidden;
	top:        64px;
	bottom:     0;
	left:       64px;
	right:      0;
	background: #F6F6F6;
	z-index:    20;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
}

.adm-header-sm ~ .adm-main > .adm-content {
	top: 48px;
}

.adm-left-nav:hover {
	z-index: 30;
}

.adm-left-nav:hover .adm-nav-btn.active {
	background: #345;
}

.adm-navigation {
	position: relative;
	float:    left;
}

.adm-nav-panel {
	margin:     0;
	padding:    0;
	list-style: none;
}

.adm-nav-element {
	margin:      0;
	padding:     0;
	line-height: 1;
	font-size:   0;
}

.adm-nav-element > .adm-nav-panel {
	position:    absolute;
	display:     none;
	border-left: 4px solid #234;
}

.adm-nav-btn {
	margin:     0;
	padding:    0;
	border:     none;
	color:      #D3D6D9;
	background: transparent;
	font-size:  16px;
	height:     32px;
	min-width:  32px;
	padding:    0 16px;
}

.adm-nav-btn > .glyphicon {
	line-height: 32px;
}

.adm-nav-element-lg > .adm-nav-btn {
	font-size: 32px;
	height:    64px;
	min-width: 64px;
}

.adm-nav-element-lg > .adm-nav-btn > .glyphicon {
	line-height: 64px;
}

.adm-nav-element:hover {
	background: #345;
}

.adm-nav-element:hover > .adm-nav-btn {
	color: #FFF;
}

.adm-nav-element:hover > .adm-nav-panel {
	display: inline-block;
}

.adm-header-nav {
	display:        inline-block;
	height:         64px;
	line-height:    64px;
	font-size:      0;
}

.adm-header-sm .adm-header-nav {
	height:      48px;
	line-height: 48px;
}

.adm-header-nav.adm-header-nav-em {
	background: rgba(255, 255, 255, 0.125);
}

.adm-btn {
	display:        inline-block;
	font-size:      13px;
	line-height:    28px;
	border:         none;
	padding:        0 11px;
	margin:         0 8px;
	vertical-align: middle;
	color:          #000;
	background:     #E3E6E9;
	background:     linear-gradient(0deg, #D3D6D9, #F3F6F9);
	border-radius:  2px;
}

.adm-header-sm .adm-btn {
	font-size:   12px;
	line-height: 24px;
	margin:      0 6px;
	padding:     0 9px;
}

.adm-btn:active {
	box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.adm-btn.adm-btn-warning {
	background:  #CA4;
	color:       #FFF;
	background:  linear-gradient(0deg, #B93, #DB5);
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

.adm-btn.adm-btn-success {
	background:  #6A5;
	color:       #FFF;
	background:  linear-gradient(0deg, #594, #7B6);
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

.adm-btn.adm-btn-danger {
	background:  #D55;
	color:       #FFF;
	background:  linear-gradient(0deg, #C44, #E66);
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

.adm-btn.adm-btn-info {
	background:  #5AB;
	color:       #FFF;
	background:  linear-gradient(0deg, #49A, #6BC);
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

.adm-btn.adm-btn-primary {
	background:  #27A;
	color:       #FFF;
	background:  linear-gradient(0deg, #169, #38B);
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.33);
}

.adm-btn:hover {
	background: #567;
	background: linear-gradient(0deg, #567, #678);
	color:      #FFF;
}

.adm-btn > .glyphicon {
	top:            0;
	vertical-align: middle;
}

.adm-btn-group {
	display: inline-block;
	margin:  0 8px;
	padding: 0;
}

.adm-header-sm .adm-btn-group {
	margin: 0 6px;
}

.adm-btn-group > .adm-btn {
	margin:        0;
	border-radius: 0;
	border-width:  1px;
	border-style:  solid;
	border-color:  rgba(192, 192, 192, 0.25) rgba(192, 192, 192, 0.25) rgba(64, 64, 64, 0.5) rgba(64, 64, 64, 0.5);
}

.adm-btn-group > .adm-btn:first-child {
	border-radius: 2px 0 0 2px;
}

.adm-btn-group > .adm-btn:last-child {
	border-radius: 0 2px 2px 0;
}

.adm-btn-drop {
	padding-left:  7px;
	padding-right: 7px;
}

.adm-btn-drop > .caret {
	padding: 0;
	margin:  0;
}

.adm-btn-saucer {
	display:        inline-block;
	width:          48px;
	height:         48px;
	line-height:    48px;
	font-size:      24px;
	color:          #9AB;
	padding:        0;
	margin:         0 8px;
	text-align:     center;
	vertical-align: middle;
	text-shadow:    1px 1px 7px rgba(0, 0, 0, 0.35);
	background:     #123;
	border-radius:  24px;
	border:         none;
}

.adm-header-sm .adm-btn-saucer {
	width:       40px;
	height:      40px;
	line-height: 40px;
	font-size:   22px;
	margin:      0 4px;
}

.adm-btn-saucer > .glyphicon {
	vertical-align: middle;
	line-height:    48px;
	top:            0;
}

.adm-header-sm .adm-btn-saucer > .glyphicon {
	line-height: 40px;
}