<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		
        {% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" href="/bundles/appadmin/css/admin.css" />
		{% endblock %}
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="adm-body">
		<div class="adm-wrapper">
			{% block header %}
				<header class="adm-header">
					<button class="adm-header-logo">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
					
					<h1 class="adm-header-title">Constructor <span class="adm-header-title-part">CMS</span></h1>
					
					<nav class="adm-header-nav">						
						<div class="adm-btn-group">
							<button class="adm-btn"><span class="glyphicon glyphicon-user"></span>&nbsp;Test</button>
							<button class="adm-btn">Test 44</button>
							<button class="adm-btn">Test 4ww4</button>
						</div>
						
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-warning"><span class="glyphicon glyphicon-user"></span></button>
							<button class="adm-btn adm-btn-success"><span class="glyphicon glyphicon-cog"></span></button>
							<button class="adm-btn adm-btn-danger"><span class="glyphicon glyphicon-file"></span></button>
							<button class="adm-btn adm-btn-info"><span class="glyphicon glyphicon-exclamation-sign"></span></button>
						</div>
						
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-warning">Warning</button>
							<button class="adm-btn adm-btn-warning adm-btn-drop"><span class="caret"></span></button>
						</div>
							
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-success">Success</button>
							<button class="adm-btn adm-btn-success adm-btn-drop"><span class="caret"></span></button>
						</div>
						
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-danger">Danger</button>
							<button class="adm-btn adm-btn-danger adm-btn-drop"><span class="caret"></span></button>
						</div>
						
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-info">Info</button>
							<button class="adm-btn adm-btn-info adm-btn-drop"><span class="caret"></span></button>
						</div>
						
						<div class="adm-btn-group">
							<button class="adm-btn adm-btn-primary">Primary</button>
							<button class="adm-btn adm-btn-primary adm-btn-drop"><span class="caret"></span></button>
						</div>
					</nav>
					
					<nav class="adm-header-nav pull-right">
						<div class="adm-btn-group">
							<button class="adm-btn">Admin</button>
							<button class="adm-btn adm-btn-drop"><span class="caret"></span></button>
						</div>
						
						<button class="adm-btn-saucer">
							<span class="glyphicon glyphicon-user"></span>
						</button>
					</nav>
				</header>
			{% endblock %}

			{% block body %}
				<div class="adm-main">
					<aside class="adm-left-nav">
						<nav class="adm-navigation">
							<ul class="adm-nav-panel">
								<li class="adm-nav-element adm-nav-element-lg active">
									<button class="adm-nav-btn">
										<span class="glyphicon glyphicon-user"></span>
									</button>
								</li>

								<li class="adm-nav-element adm-nav-element-lg">
									<button class="adm-nav-btn">
										<span class="glyphicon glyphicon-file"></span>
									</button>
								</li>
								
								<li class="adm-nav-element adm-nav-element-lg">
									<button class="adm-nav-btn">
										<span class="glyphicon glyphicon-cog"></span>
									</button>
								</li>
							</ul>
						</nav>
						
						<nav class="adm-navigation" style="display: none;">
							<ul class="adm-nav-panel">
								<li class="adm-nav-element">
									<button class="adm-nav-btn">
										<span class="glyphicon glyphicon-alert"></span>&nbsp;Option
									</button>
								</li>

								<li class="adm-nav-element">
									<button class="adm-nav-btn">
										<span class="glyphicon glyphicon-alert"></span>&nbsp;Option
									</button>
								</li>
							</ul>
						</nav>
					</aside>

					<section class="adm-content">

					</section>
				</div>
			{% endblock %}

			{% block footer %}
				<footer class="adm-footer">

				</footer>
			{% endblock %}
		</div>
		
        {% block javascripts %}{% endblock %}
    </body>
</html>