<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		
        {% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
			<link rel="stylesheet" href="/bundles/appadmin/css/admin.css" />
		{% endblock %}
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
	
    <body class="adm-body">
		<div class="adm-wrapper">
			{% block header %}
				<header id="adm_header" class="adm-header adm-header">
					<button id="adm_header_logo" class="adm-header-logo">
						<span class="glyphicon glyphicon-cog"></span>
					</button>
					
					<h1 class="adm-header-title">Constructor <span class="adm-header-title-part">CMS</span></h1>
					
					{{ navigation('admin.header', 'App\AdminBundle:Navigation:header.html.twig') }}
					
					<nav class="adm-header-nav pull-right">
						<button class="adm-btn-saucer">
							<span class="glyphicon glyphicon-user"></span>
						</button>
					</nav>
				</header>
			{% endblock %}

			{% block body %}
				<div class="adm-main">
					<aside class="adm-left-nav">
						{{ navigation('admin.side', 'App\AdminBundle:Navigation:side.html.twig') }}
					</aside>

					<section id="adm_content" class="adm-content">

					</section>
				</div>
			{% endblock %}

			{% block footer %}
				<footer class="adm-footer">

				</footer>
			{% endblock %}
		</div>
		
        {% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		{% endblock %}
		
		<script>
			$(function() {
				var logo    = $('#adm_header_logo');
				var navs    = $('.js-adm-side-nav');
				var buttons = $('.js-adm-side-btn');
				var content = $('#adm_content');
				
				$(document).ajaxStart(function() {
					logo.addClass('adm-header-logo-rotate');
				}).ajaxStop(function() {
					logo.removeClass('adm-header-logo-rotate');
				});
				
				$('.js-adm-side-btn').click(function() {
					var button = $(this);
					
					navs.hide();
					$('#' + button.attr('data-target')).show();
					
					buttons.removeClass('active');
					button.addClass('active');
				});
				
				$('.js-adm-nav-btn').click(function() {
					$.ajax({
						url:     $(this).attr('data-url'),
						success: function(result) {
							content.html(result);
						}
					});
					
				});
			});
		</script>
    </body>
</html>