{% block pane_before %}{% endblock %}

<div class="adm-pane">
	<div class="adm-pane-header">
		<h4 class="adm-pane-title">{% block pane_title %}Pane{% endblock %}</h4>
		
		<div class="adm-pane-header-control">
			<button class="adm-btn adm-btn-micro js-adm-btn-refresh">
				<span class="glyphicon glyphicon-refresh" title="Refresh"></span>
			</button>
		</div>
	</div>
	
	<div class="adm-pane-control">
		{% block pane_control_top %}{% endblock %}
	</div>
	
	<div class="adm-pane-body">
		{% block pane_body %}{% endblock %}
	</div>
	
	<div class="adm-pane-footer">
		{% block pane_footer %}{% endblock %}
	</div>
</div>

{% block pane_after %}{% endblock %}