<div class="adm-pane">
	<div class="adm-pane-header">
		<h4 class="adm-pane-title">Pages</h4>
	</div>
	
	<div class="adm-pane-control">
		<button class="adm-btn adm-btn-primary pull-right" id="adm_page_add" data-url="{{ path('app.admin.page.add') }}">
			<span class="glyphicon glyphicon-plus"></span>
			Add
		</button>
	</div>
	
	<div class="adm-pane-body">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group" data-url="{{ path('app.admin.page', {page: 'pageId'}) }}" id="adm_pages_list">
					{% for page in pages %}
					<li class="list-group-item adm-navigation-element js-adm-page-element" data-id="{{ page.id }}">
						<span class="glyphicon glyphicon-file"></span>
						{{ page.name }}
					</li>
					{% endfor %}
				</ul>
			</div>
				
			<div class="col-md-6">
				<div class="panel panel-default" style="display: none;" id="adm_page_panel">
					<div class="panel-body" id="adm_page_panel_body">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		var pagePanel     = $('#adm_page_panel');
		var pagePanelBody = pagePanel.find('#adm_page_panel_body');
		
		var pageUrl = $('#adm_pages_list').attr('data-url');
		
		$('#adm_page_add').click(function() {
			$.ajax({
				url: $(this).attr('data-url'),
				
				success: function(response) {
					
				}
			});
		});
		
		$('.js-adm-page-element').click(function() {
			$.ajax({
				url: pageUrl.replace('pageId', $(this).attr('data-id')),
				
				success: function(response) {
					pagePanelBody.html(response);
					pagePanel.show();
				}
			});
		});
	});
</script>