{% extends 'AppAdminBundle:Shared:pane.html.twig' %}

{% block pane_title %}{{ page.name }}{% endblock %}

{% block pane_body %}
	<p>{{ page.description }}</p>

<ul>
	{% for element in page.elements %}
		<li>{{ element.title }}</li>
	{% endfor %}
</ul>
{% endblock %}