<div class="panel panel-default">
	<table class="{% block table_class %}table table-hover table-striped table-condensed{% endblock %}">
		<colgroup>
			{% for col in grid.columns %}
			<col width="{{ col.width }}%" />
			{% endfor %}
		</colgroup>

		<thead>
			<tr>
				{% for col in grid.columns %}
				<th>
					{{ col.title }}
					
					{% if col.orderable %}
						{% set order = col.getOrder() %}

						{% if order is null %}
							<button class="btn btn-link btn-xs js-zgrid-param" data-param="order" data-value="desc" >
								<span class="glyphicon glyphicon-triangle-bottom text-muted"></span>
							</button>
						{% elseif order == 'desc' %}
							<button class="btn btn-link btn-xs js-zgrid-param" data-param="order" data-value="desc">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
						{% elseif order == 'asc' %}
							<button class="btn btn-link btn-xs js-zgrid-param" data-param="order" data-value="asc">
								<span class="glyphicon glyphicon-triangle-top"></span>
							</button>
						{% endif %}
					{% endif %}
				</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for row in grid.rows %}
			<tr>
				{% for cell in row %}
				<td>{{ cell.content }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
